body {
    background-color: #fff;
    font-family: sans-serif;
}

h1{
    color: #2d2e2f;
    font-size: 38px;
}

h2{
    color: #2d2e2f;
    font-size: 18px;
}

ul{
    color: #2d2e2f;
    font-size: 18px;
}

h3{
    color: #2d2e2f;
    font-size: 18px;
}

p{
    color: #2d2e2f;
    font-size: 16px;
}